.product_Card {
    background-color: #ffffff;
    padding: 10px 5px;
    box-shadow: 0 4px 8px rgba(141, 106, 141, 0.5);
    cursor: pointer;
    flex: 1 1 25%;        
    max-width: 240px;
}

.product_Card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.single_product_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}


@media (max-width: 1024px) {
    .product_Card {
        flex: 1 1 calc(50% - 20px); 
        max-width: none;
        height: auto;
    }
}

@media (max-width: 768px) {
    .single_product_container {
        flex-direction: column;
        align-items: center;
    }
    .product_Card {
        flex: 1 1 100%;
        max-width: 100%;
        height: auto;
    }
}
