.hero_carasole_img{
    position: relative;
}
.hero_carasole_img::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    left: 0;
    background: linear-gradient(
    to bottom,
    rgba(13, 13, 13, 0),
    rgb(249, 245, 245)
);

}
