.hero_carasole_img{
    position: relative;
}
.category_card_row{
    position: relative;
    top: -250px;    
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}
.category_card_container{
    background-color: #ffffff;
    height: 400px;
    flex: 1 1 25%; 

    overflow: hidden;
    cursor: pointer;
}
.category_card_container a{
    text-decoration: none;
    color: black;

    display: block;
    height: 100%;
    
}
.Category_card_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: relative;
}
.Category_card_content h3{
    cursor:text;
    font-size: 1.2rem;
    margin-bottom: 10px;

}
.catagory_card_img{
    margin: 10px auto;
}
.catagory_card_img img{
    padding: 10px 5px;

    flex: 1;
    object-fit: cover;
}
.card_link{
    position: absolute;
    left: 15px;
    color: #0c3353;
    text-decoration: none;
    bottom: 15px;
}

@media(max-width: 1024px){
    .category_card_row{
        flex-wrap: wrap; 
        position: relative;
        top: -200px; ;
        
        
    }
    .category_card_container{
        height: auto;
        flex: 1 1 calc(50% - 20px);
    }
}

@media(max-width :768px){
    .category_card_row{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 80%;
    }
    .category_card_container{
        height: auto;
        flex: 1 1 100%;
    }

}




