.Results p,
.Results>h4{
    padding-left: 20px;
    
}
.Results_continer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 10px;
}

