

.productDetailHeader {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-left: 5px solid  #036444;
  font-size: 1.2rem;
  font-weight: bold;
}

.categoryText {
  font-size: 1rem;
  color: #555;
  margin-left: 20px;
}

.single_Product_Detail_container {
  flex-wrap: wrap; 
  gap: 20px;
  margin: 30px auto;
  padding: 10px;
}


