.order_container{
    background-color: #efeeee;
    padding: 30px;
}
.order_iner_container{
    background-color: #fff;
    padding: 20px;
}
h2{
    border-bottom: 2px solid rosybrown;
    padding: 20px;
}
.order_iner_container p{
    padding: 12px;
}
.order_iner_container img{
    width: 100px !important;
}
.order_iner_container div:not.empty__bg div {
    height: auto !important;
}
.empty_order_bg{
    width: 100%;          
    max-width: none;      
    height: 60vh;         
    background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/girl-walking-with-no-items-in-cart-illustration-svg-download-png-10018096.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

.order_container_iner .empty_order_bg {
    width: 100vw;  
    margin: 0;      
}
.empty_order_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_order_text h3 span{
    color: #ff1623;
}
.empty_order_text a {
    text-decoration: none;
    
    border-radius: 20px;
    border: 2px solid  #f48c06;
    padding: 5px 10px;
    display: inline-flex;  
    align-items: center;
    font-weight: bold;
    color: black;
    margin: 5px;
    cursor: pointer;   
}
.empty_order_text a:hover {
    background: linear-gradient(90deg, #d97706,#fff, #f48c06);
}
